<!DOCTYPE html>
<html data-dpr="1" style="font-size: 50px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>隐私政策</title>
    <link href="/static/clause/privacy.css" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
</head>

<body class="app" style="font-size: 0.28rem;">
<div class="main">
    <h3>隐私政策</h3>
    <br>更新日期：2023年01月01日
    <br>生效日期：2023年01月01日
    <br>
    <br>欢迎您使用DvAdmin产品。DvAdmin非常重视用户的个人信息和隐私保护，为同时给您提供更准确、有个性化的服务和更安全的互联网环境，我们依据《中华人民共和国网络安全法》、《信息安全技术个人信息安全规范》（GB/T35273-2017）以及其他相关法律法规和技术规范制定了《隐私政策》，阐述了关于您个人信息的相关权利等。
    <br>
    <br>本政策适用于我们的所有DvAdmin系列产品及服务，本政策与您所使用的我们的产品与/或服务息息相关，您在下载、安装、启动、浏览、注册、登录、使用巨梦科技的产品及/或服务时，我们将按照本政策的约定处理和保护您的个人信息。我们将尽量以简明、扼要的表述向您解释本政策所涉及的技术词汇，以便于您理解。
    <br>
    <br>您在使用DvAdmin的产品及/或服务时，巨梦科技可能会收集和使用您的相关信息。为此，希望通过本《隐私政策》向您说明，巨梦科技如何取得、使用、保存和管理这些信息。请在使用/继续使用我们的各项产品与服务前，仔细阅读并充分理解本政策，特别应重点阅读我们以粗体/粗体下划线标识的条款，并在需要时，按照本政策的指引，作出适当的选择。如果您不同意本政策的内容，将可能导致我们的产品与/或服务无法正常运行，或者无法达到我们拟达到的服务效果，您应立即停止访问/使用我们的产品与/或服务。您使用或继续使用我们提供的产品与/或服务的行为，都表示您充分理解和同意本《隐私政策》的全部内容。
    <br>
    <br>本《隐私政策》将帮助您了解以下内容：
    <br><a href="#1_chapter">第一章 如何收集您的个人信息</a>
    <br><a href="#2_chapter">第二章 如何使用您的个人信息</a>
    <br><a href="#3_chapter">第三章 如何使用Cookie和同类技术</a>
    <br><a href="#4_chapter">第四章 如何共享、转让、公开披露您的个人信息</a>
    <br><a href="#5_chapter">第五章 如何保护您的个人信息</a>
    <br><a href="#6_chapter">第六章 如何保存您的个人信息</a>
    <br><a href="#7_chapter">第七章 管理、查看或删除您的个人信息</a>
    <br><a href="#8_chapter">第八章 如何处理儿童的个人信息</a>
    <br><a href="#9_chapter">第九章 本政策如何更新</a>
    <br><a href="#10_chapter">第十章 投诉及建议</a>
    <br><a href="#11_chapter">第十一章 其他</a>
    <br>
    <h1 id="1_chapter">第一章 如何收集您的个人信息</h1>
    <br>
    <br>在您使用我们的产品/服务时，我们需要/可能需要收集和使用的您的个人信息包括如下两种：
    <br>第一种：为实现向您提供我们产品及/或服务的基本功能，您须授权我们收集、使用的必要的信息。如您拒绝提供相应信息，您将无法正常使用我们的产品及/或服务；
    <br>第二种：为实现向您提供我们产品及/或服务的附加功能，您可选择单独同意或不同意我们收集、使用的信息。如您拒绝提供，您将无法正常使用相关附加功能或无法达到我们拟达到的功能效果，不会影响您使用我们的基本功能。
    <br>
    <br>个人敏感信息是指一旦泄露、非法提供或滥用可能危害人身和财产安全，极易导致个人名誉、身心健康受到损害或歧视性待遇等的个人信息，如个人财产信息、个人健康生理信息、个人生物识别信息、个人身份信息、网络身份标识信息及其他信息。
    <br>上述信息所包含的内容，均出自于GB/T35273《信息安全技术 个人信息安全规范》。
    <br>
    <h3>1.1 您向巨梦科技提供相关个人信息</h3>
    <h4>1.1.1
        为使用巨梦科技的产品及/或服务，您首先需要注册账号并登录。您可以选择通过微信、等方式创建巨梦科技产品及/或服务的账号并登录（"账号登录"）。</h4>
    <h5>1.1.1.1 通过微信第三方账户登录巨梦科技产品及/或服务时，您同意我们从微信获取您授权共享的信息（包括手机号、位置信息、昵称、头像等），
        并且您同意将您的第三方账户与您的巨梦科技产品及/或服务账号绑定，使您可以通过第三方账户直接登录并使用巨梦科技的产品及/或服务，并借助该账户实现数据在不同设备之间的同步。
        我们会依据与第三方的约定，并在符合相关法律法规的前提下，使用您授权共享的个人信息。如果您拒绝同意巨梦科技从第三方获取您授权共享的信息，您将无法通过微信的方式注册账号并登录，也无法借助该第三方账户实现数据的同步。</h5>
    <h4>1.1.2 在您使用巨梦科技产品及/或服务时，您可能会因账号管理、产品使用等问题联系巨梦科技客服。为此，您可能需要向巨梦科技提供姓名、手机号码、系统操作记录、照片、银行账号、第三方支付平台的账号、
        与巨梦科技进行联系的通信记录及内容等与您使用巨梦科技产品及/或服务相关的信息，以便巨梦科技的客服人员您联系，并帮助您解决相关问题。
        如果您拒绝提供相关信息，巨梦科技可能无法帮助您解决相关问题。</h4>
    <h3>1.2 巨梦科技收集您所使用的相关设备及网络信息</h3>
    <h4>1.2.1
        当您使用巨梦科技的产品及/或服务时，巨梦科技将收集您所使用的相关设备信息，以便为您提供持续稳定的服务支持，使您在使用巨梦科技的产品及/或服务过程中获得最优体验。巨梦科技收集的您所使用的相关设备信息包括浏览器信息、网络信息（IP地址）、日志信息（如操作日志、服务日志）等等。</h4>
    <h3>1.3 巨梦科技向您收集的信息</h3>
    <h4>1.3.1
        为提升巨梦科技产品及/或服务的使用体验和便利程度，巨梦科技可能会通过调用设备权限的方式收集您的如下个人信息。如果您不同意提供这些个人信息，您可能无法使用与提升用户体验相关的功能，您也可能需要在使用巨梦科技产品及/或服务过程中手动重复填写一些信息。</h4>
    <h4>1.3.2
        若您希望向巨梦科技上传您的头像及/或其他图片信息，您可以选择授权巨梦科技调用您所使用设备中的摄像头或者相册权限。</h4>
    <h4>1.3.3
        若您希望快速便捷地通过第三方移动运营商完成支付，在您的设备支持的情况下，您可以选择授权调用您所使用设备中的移动运营相关权限（如短信），以便您快速便捷地完成付款。</h4>
    <h4>1.3.4
        若您希望实现或体验上述功能，您可能需要在您的设备中向巨梦科技开启您的相应访问权限。您也可以随时选择关闭相应访问权限以取消相应授权。在不同设备中，权限显示方式及关闭方式可能有所不同，具体请参考设备及系统开发方的说明或指引。</h4>
    <h3>1.4 第三方向您收集的信息</h3>
    <h4>1.4.1 第三方付款服务提供商收集相关个人信息</h4>
    <h5>1.4.1.1
        您可以通过向巨梦科技付款的方式获取巨梦科技产品及/或服务相关的产品。上述付款服务可能由巨梦科技以外的第三方提供，巨梦科技并不会获取与您付款相关的密码等信息。但可能从您或第三方支付平台获得您的第三方支付账户（微信账号）。若您希望了解第三方服务提供商收集个人信息的具体规则，请查阅您选择的第三方付款服务提供商的隐私政策。</h5>
    <h3>1.5 您充分知晓，在以下情形下，我们收集、使用个人信息无需征得您的授权同意：</h3>
    <h4>1.5.1 与国家安全、国防安全有关的；</h4>
    <h4>1.5.2 与公共安全、公共卫生、重大公共利益有关的；</h4>
    <h4>1.5.3 与犯罪侦查、起诉、审判和判决执行等有关的；</h4>
    <h4>1.5.4 出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</h4>
    <h4>1.5.5 所收集的个人信息是个人信息主体自行向社会公众公开的；</h4>
    <h4>1.5.6 从合法公开披露的信息中收集的您的个人信息的，如合法的新闻报道、政府信息公开等渠道；</h4>
    <h4>1.5.7 根据您要求签订和履行合同所必需的；</h4>
    <h4>1.5.8 用于维护所提供的产品及/或服务的安全稳定运行所必需的，例如发现、处置产品及/或服务的故障；</h4>
    <h4>1.5.9 法律法规规定的其他情形。</h4>
    <h3>1.6
        根据法律规定，向第三方提供经去标识化处理的个人信息，且确保数据接收方无法复原并重新识别个人信息主体的，不属于个人信息的对外共享、转让及公开披露行为，对此类数据的保存及处理将无需另行向您通知并征得您的同意。</h3>
    <br>
    <h1 id="2_chapter">第二章 如何使用您的个人信息</h1>
    <br>
    <h2>在收集您的个人信息后，巨梦科技将根据如下规则使用您的个人信息：</h2>
    <br>
    <h3>2.1 会根据本《隐私政策》的约定并为实现巨梦科技的产品及/或服务功能对所收集的个人信息进行使用。</h3>
    <h3>2.2
        请您注意，对于您在使用巨梦科技的产品及/或服务时所提供的所有个人信息，除非您删除或通过相关设置拒绝我们收集，否则您将在使用产品及/或服务期间、账号注销前持续授权我们使用。</h3>
    <h3>2.3
        巨梦科技系列产品或服务对使用情况进行统计，并可能会与公众或第三方共享这些统计信息，以展示巨梦科技产品及/或服务的整体使用趋势。但这些统计信息不会包含您的任何身份识别信息。</h3>
    <h3>2.4
        当巨梦科技要将您的个人信息用于本政策未载明的其它用途时，或将基于特定目的收集而来的信息用于其他目的时，巨梦科技会主动事先征求您的明示同意。</h3>
    <br>
    <h1 id="3_chapter">第三章 如何使用Cookie和同类技术</h1>
    <h2>巨梦科技暂未使用任何信息收集工具。</h2>
    <br>
    <h1 id="4_chapter">第四章 如何共享、转让、公开披露您的个人信息</h1>
    <h2>共享</h2>
    <h3>4.1 巨梦科技将严格遵守相关法律法规，对您的个人信息予以保密。除以下情况外，我们不会向其他人共享您的个人信息：</h3>
    <h4>4.1.1 事先获得您明确的同意或授权；</h4>
    <h4>4.1.2 根据适用的法律法规规定，或基于司法或行政主管部门的强制性要求进行提供；</h4>
    <h4>4.1.3
        在法律法规允许的范围内，为维护您或其他巨梦科技用户或其他个人的生命、财产等合法权益或是社会公共利益而有必要提供；</h4>
    <h4>4.1.4 应您的监护人的合法要求而提供您的信息；</h4>
    <h4>4.1.5 根据与您签署的相关协议（包括在线签署的电子协议以及相应的平台规则）或其他的法律文件约定而提供；</h4>
    <h4>4.1.6 根据本《隐私政策》所述与第三方进行共享；</h4>
    <h4>4.1.7
        巨梦科技可能会基于您的相应授权将您的个人信息与公司的关联方共享。但巨梦科技只会共享必要的个人信息，且受本《隐私政策》所述目的之约束。 如果巨梦科技的关联方要改变个人信息的处理目的，将适时向您征得明示同意。</h4>
    <h3>4.2
        对巨梦科技与之共享个人信息的公司、组织和个人，我们将尽合理的努力要求其处理您的个人信息时遵守相关法律法规，尽力要求其采取相关的保密和安全措施，以保障您的个人信息安全。</h3>
    <h2>转让</h2>
    <h3>4.3 巨梦科技不会将您的个人信息转让给任何公司、组织和个人，但以下情况除外：</h3>
    <h4>4.3.1 事先获得您明确的同意或授权；</h4>
    <h4>4.3.2 根据适用的法律法规、法律程序的要求、强制性的行政或司法要求而必须进行提供；</h4>
    <h4>4.3.3
        涉及收购、兼并、破产清算、重组等重大变更时，如涉及到个人信息转让的，巨梦科技会要求新的持有您个人信息的公司或组织继续履行本《隐私政策》项下的责任和义务。如变更后的主体需变更个人信息使用目的，我们会要求其事先获得您的明示同意。</h4>
    <h2>公开披露</h2>
    <h3>4.4 巨梦科技仅会在以下情况下，且在采取符合业界标准的安全防护措施的前提下，才会公开披露您的个人信息：</h3>
    <h4>4.4.1根据您的需求，在您明确同意的披露方式下披露您所指定的个人信息；</h4>
    <h4>4.4.2
        根据法律、法规的要求、行政或司法机关的强制性要求，我们可能会公开披露您的个人信息。当巨梦科技收到上述披露请求时，巨梦科技会依法要求请求方出具相关法律文件，如传票或协助调查函等。巨梦科技会慎重审查每一个披露请求，以确保该等披露请求符合相关法律规定。在法律法规许可的前提下，巨梦科技会对包含披露信息的文件采取加密保护等措施。</h4>
    <br>
    <h1 id="5_chapter">第五章 如何保护您的个人信息</h1>
    <h3>5.1
        巨梦科技非常重视个人信息安全，并会采取一切合理可行的措施，持续保护您的个人信息，以防其他人在未经授权的情况下访问、篡改或披露巨梦科技收集的您的个人信息：</h3>
    <h4>5.1.1
        巨梦科技已采用符合行业标准的安全防护措施来保护您的个人信息，防止数据遭到未经授权的访问、公开披露、使用、修改、损坏或丢失。我们会采取一切合理可行的措施，保护您的个人信息。我们会使用受信赖的保护机制防止数据遭到恶意攻击。</h4>
    <h4>5.1.2
        巨梦科技仅允许有必要知晓的人员访问相关个人信息，并为此设置了严格的访问权限控制和监控机制。巨梦科技同时要求可能接触到您个人信息的所有人员履行相应的保密义务。如果未能履行这些义务，可能会被追究法律责任或被终止与巨梦科技的相应法律关系。</h4>
    <h3>5.2 巨梦科技会采取一切合理可行的措施，确保未收集无关的信息。</h3>
    <h3>5.3
        您理解，由于技术的限制以及可能存在的各种恶意手段，在互联网行业，即便我们竭尽所能加强安全措施，但也不可能始终保证信息百分之百的绝对安全。您需要了解和知悉，您接入巨梦科技的产品及/或服务所用的系统和通讯网络，有可能因我们可控范围外的其他因素而出现问题，在此情形下，我们会依法尽力协助解决。</h3>
    <h3>5.4
        如不幸发生信息安全事故，我们将按照法律法规的要求，及时向您告知：安全事件的基本情况和可能的影响、我们已采取或将要采取的处置措施、您可自主防范和降低风险的建议等。我们同时将及时将事件相关情况以邮件、信函、电话、推送通知等适合的方式告知您；难以逐一告知信息主体时，我们会采取合理、有效的方式发布公告。同时，我们还将按照监管部门要求，主动上报信息安全事件的处置情况。</h3>
    <br>
    <h1 id="6_chapter">第六章 如何保存您的个人信息</h1>
    <h2>保存期限</h2>
    <h3>6.1 在用户使用巨梦科技产品及/或服务期间，巨梦科技会持续保存用户的个人信息。</h3>
    <h3>6.2
        巨梦科技承诺始终按照法律的规定在合理必要期限内在存储您个人信息，对于日志信息、记录备份等信息为您注销账号后180天（但根据法律规定有最短保存期限要求的，则我们会保存法律要求的最短期限）；交易信息为交易完成日起三年或您注销账号后180天（以较长者为准）。在超出上述期限后，我们会对您的相关信息进行删除或匿名化处理。</h3>
    <h2>保存地域</h2>
    <h3>6.3 您的个人信息将全部被存储于中华人民共和国境内。</h3>
    <h3>6.4 目前我们不存在向境外提供个人信息的场景。</h3>
    <br>
    <h1 id="7_chapter">第七章 管理、查看或删除您的个人信息</h1>
    <h2>巨梦科技非常尊重您对自己的个人信息所享有的权利。我们保障您对个人信息所享有的访问、更正、删除、管理等权利。</h2>
    <br>
    <h2>访问和更正您的个人信息</h2>
    <h3>7.1
        除法律法规另有规定之外，您有权行使数据访问权。当您发现我们处理关于您的个人信息有错误或者您有其他修改、补充需求时，您也有权要求我们或自行予以更正。您行使数据访问和更正权的方式包括但不限于：</h3>
    <h4>7.1.1
        如果您希望访问或修改您在巨梦科技产品及/或服务中的账号信息，包括头像、昵称、性别、生日等，您可以通过访问我们的产品及/或服务进行操作（可通过点击“我的”功能后进行操作）。</h4>
    <h4>7.1.2
        如巨梦科技的产品及/或服务中提供发表话题、参与讨论、留言等功能并使得您有机会通过这些服务公开或提供的个人信息的，则巨梦科技在提供前述服务的同时会提供相应的功能确保您可以再次访问或删除您在前述服务过程中公开或提供的个人信息。</h4>
    <h3>7.2
        您有权知悉通过巨梦科技获得您的个人信息的第三方的身份或类型。您可以通过本政策第一章和第四章了解第三方的身份或类型。</h3>
    <br>
    <h2>删除您的个人信息及撤回已同意的授权</h2>
    <h3>7.3 在以下情形中，您可以向巨梦科技提出删除个人信息的请求：</h3>
    <h4>7.3.1 如果巨梦科技处理个人信息的行为违反相关的法律法规；</h4>
    <h4>7.3.2 如果巨梦科技收集、使用您的个人信息，却未征得您的同意；</h4>
    <h4>7.3.3 如果巨梦科技处理个人信息的行为违反了与您的约定或法律的规定；</h4>
    <h4>7.3.4 如果您不再使用巨梦科技的产品及/或服务，或者您注销了相关账号；</h4>
    <h4>7.3.5 如果巨梦科技不再为您提供产品及/或服务。</h4>
    <h3>7.4
        您有权向巨梦科技撤回您此前作出的有关同意收集、使用您的个人信息的授权。当您撤回同意后，我们将不再处理您的相关个人信息。但您撤回同意的决定，不会影响此前基于您的授权而开展的个人信息处理活动。</h3>
    <h3>7.5 您可以通过删除相关个人信息的方式撤回您此前就特定个人信息而对我们作出的同意授权。</h3>
    <h2>注销账号</h2>
    <h3>7.6
        您有权随时提出申请，注销您在巨梦科技产品及/或服务中注册的账号。为保障账号及财产安全，您需要通过客户服务或本《隐私条款》第十章载明的联系方式向巨梦科技提出您的账号注销请求。巨梦科技将在与您核实相关信息后的15个工作日内为您注销账号。</h3>
    <h3>7.7
        请您注意，注销巨梦科技相关产品及/或服务账号是不可恢复的操作。在注销账号之后，我们将停止为您提供产品及/或服务，并将删除该账号项下的您的个人信息，除非法律法规另有规定。</h3>
    <h2>约束信息系统自动决策</h2>
    <h3>7.8
        在巨梦科技仅依据信息系统、算法等在内的非人工自动决策机制做出决定，并且这些决定显著影响您的合法权益的情况下，您有权要求巨梦科技做出解释，巨梦科技也将提供适当的救济方式。</h3>
    <h2>获取个人信息副本</h2>
    <h3>7.9
        根据您的请求，巨梦科技可以向您提供巨梦科技持有的有关您的个人信息副本（如个人基本资料）。您可以通过客户服务或本《隐私条款》第十章载明的联系方式向我们提出请求。</h3>
    <h2>响应您的上述请求</h2>
    <h3>
        7.10如果您对巨梦科技在以上列明的有关访问、更正、删除您的个人信息，以及撤回同意、注销账号、约束信息系统自动决策方法有任何疑问，您可以通过客户服务或本《隐私政策》第十章载明的联系方式与我们取得联系。</h3>
    <h3>7.11
        对于您合理的请求，巨梦科技原则上不收取费用，但对多次重复、超出合理限度的请求，巨梦科技将视情况收取一定成本费用。对于那些无端重复、需要过多技术手段、给他人合法权益带来风险或者非常不切实际的请求，巨梦科技可能会予以拒绝。</h3>
    <h3>7.12 在以下情形下，我们可能无法响应您的请求</h3>
    <h4>7.12.1 与国家安全、国防安全有关的；</h4>
    <h4>7.12.2 与公共安全、公共卫生、重大公共利益有关的；</h4>
    <h4>7.12.3 与犯罪侦查、起诉和审判等有关的；</h4>
    <h4>7.12.4 有证据表明您存在主观恶意或滥用权利的；</h4>
    <h4>7.12.5 响应您的请求将导致其他个人、组织的合法权益受到严重损害的；</h4>
    <h4>7.12.6 涉及商业秘密的。</h4>
    <h2>申诉机制</h2>
    <h3>7.13
        巨梦科技已经建立申诉管理机制，包括跟踪流程等。为了保障账号及财产安全，巨梦科技可能会与您核实相关信息。巨梦科技将在收到您的反馈后尽快受理并处理您的请求，最长不超过15个工作日。若您对答复意见不满意，您可以再次通过客户服务进行申诉。申诉的联系方式及相关具体信息请详见第十章。</h3>
    <br>
    <br>
    <h1 id="8_chapter">第八章 儿童信息的保护</h1>
    <h3>8.1
        我们的产品及服务主要面向成人。巨梦科技非常重视对未成年人信息的保护。如果您是未满18周岁的未成年人，应在监护人监护、指导并获得监护人同意情况下仔细阅读本《隐私政策》和使用巨梦科技的产品及/或服务。</h3>
    <h3>8.2 如果您/您的监护人不同意本《隐私政策》的任何内容，您应该立即停止使用我们的产品及/或服务。</h3>
    <h3>8.3
        若您是未成年人的监护人，当您对您所监护的未成年人使用我们的产品及/或服务或其向我们提供的用户信息有任何疑问时，请您及时与我们联系。我们将根据国家相关法律法规及本政策的规定保护未成年人用户信息的保密性及安全性。如果我们发现自己在未事先获得可证实的监护人同意的情况下收集了未成年人的个人信息，则会设法尽快删除相关数据。</h3>
    <br>
    <h1 id="9_chapter">第九章 本政策如何更新</h1>
    <h3>9.1 如巨梦科技产品及/或服务发生以下变化，巨梦科技将及时对本《隐私政策》进行相应的修订：</h3>
    <h4>9.1.1 巨梦科技产品及/或服务所涉业务功能发生变更，导致处理个人信息的目的、类型、使用方式发生变更；</h4>
    <h4>9.1.2 您参与个人信息处理方面的权利及其行使方式发生重大变化；</h4>
    <h4>9.1.3 巨梦科技负责处理您的个人信息安全的部门的联络方式发生变更；</h4>
    <h4>9.1.4 发生其他可能影响用户个人信息安全或影响用户隐私权利的变更等。</h4>
    <h3>9.2
        《隐私政策》修订后巨梦科技会在巨梦科技产品及/或服务相关界面发布最新版本并以弹窗、推送通知等合理的方式告知用户，以便用户及时了解《隐私政策》的最新版本。</h3>
    <h3>9.3 未经您的明确同意，巨梦科技不会削减您基于本《隐私政策》所享有的权利。</h3>
    <h3>9.4 如无特殊说明，修订后的《隐私政策》自公布之日起生效。</h3>
    <br>
    <h1 id="10_chapter">第十章 投诉及建议</h1>
    <h3>10.1
        您在使用巨梦科技产品及/或服务的过程中，如果对本《隐私政策》有任何的疑义或建议，或您认为您的个人信息没有得到本《隐私政策》规定的保护，您可以通过以下方式联系我们，我们将真诚地处理您的投诉及建议。</h3>
    <h4>公司名称：北京巨梦科技信息技术有限公司</h4>
    <h4>联系邮箱：qiangli@django-vue-admin.com</h4>
    <h4>微信公众号：巨梦科技（9:00-22:00）</h4>
    <br>
    <h1 id="11_chapter">第十一章 其他</h1>
    <h3>11.1 因本政策以及我们处理您个人信息事宜引起的任何争议，您可诉至有管辖权的人民法院。</h3>
    <h3>11.2 如果您认为我们的个人信息处理行为损害了您的合法权益，您也可向有关政府部门进行反映。</h3>
    <h3>11.3
        在巨梦科技发布本《隐私政策》或向您提供产品及/或服务均视为本《隐私政策》生效。巨梦科技停止运营或永久停止提供产品及/或服务时本《隐私政策》失效。</h3>
    <br>
</div>


</body>
</html>
