<!DOCTYPE html>
<html data-dpr="1" style="font-size: 50px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>用户服务协议</title>
    <link href="/static/clause/privacy.css" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
</head>

<body class="app" style="font-size: 0.28rem;">
<div class="main">
    <h3>服务使用协议</h3>
    <br>更新日期：2023年01月01日
    <br>生效日期：2023年01月01日
    <br>本《DvAdmin服务使用协议》是您（下称"用户"）与北京巨梦科技科技有限公司之间在使用其DvAdmin产品中注册或登录时签署的协议，巨梦科技产品包括django-vue-admin产品。请仔细阅读以下条款，点击“同意”按钮即表示对相关条款的同意。如果您阅读这份协议后有任何疑问或意见，请与巨梦科技客服人员取得联系，联系邮箱：qiangli@django-vue-admin.cn，微信公众号：巨梦科技（9:00-18:00）。
    <br>
    <h2>一、重要须知</h2>
    <h3>
        1、用户应认真阅读（未成年人应当在监护人陪同下阅读）、充分理解本协议中各条款。除非用户接受本协议，用户应当立即停止注册及使用行为。</h3>
    <h3>2、用户在进行注册程序过程中点击“同意”按钮即表示用户完全接受本协议项下的全部条款。</h3>
    <br>
    <h2>二、服务内容</h2>
    <h3>1、巨梦科技服务的具体内容由巨梦科技根据实际情况提供，</h3>
    <h3>2、用户理解，巨梦科技仅提供软件相关服务，
        除此之外与相关软件服务有关的设备（如手机、个人电脑及其他与接入互联网或移动网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均应由用户自行负担。</h3>
    <h3>
        3、用户同意巨梦科技为本协议履行或相关研究的目的收集、使用或授权第三方（且该等第三方同意承担与巨梦科技同等的个人信息保护义务）非商业地使用通过服务获取的用户信息（包括但不限于身份信息、性别、职业、兴趣爱好等资料）。巨梦科技承诺，除非另行取得用户的事先同意，否则巨梦科技不会将用户信息授权给与履行本协议无关的第三方用于商业目的。</h3>
    <h3>5、根据相关法律法规及国家标准，在以下情形中，巨梦科技可能会依法收集并使用用户的个人信息并且无需征得用户的同意:</h3>
    <h4>（1）与国家安全、国防安全直接相关的；</h4>
    <h4>（2）与公共安全、公共卫生、重大公共利益直接相关的；</h4>
    <h4>（3）与犯罪侦查、起诉、审判和判决执行等直接相关的；</h4>
    <h4>（4）出于维护用户或他人的生命、财产等重大合法权益但又很难得到用户本人同意的；</h4>
    <h4>（5）所收集的个人信息是用户自行向社会公众公开的；</h4>
    <h4>（6）从合法公开披露的信息中收集个人信息，例如：合法的新闻报道、政府信息公开等渠道；</h4>
    <h4>（7）根据用户的要求签订和履行合同所必需的；</h4>
    <h4>（8）用于维护所提供的服务的安全稳定运行所必需的，例如：发现、处置产品或服务的故障；</h4>
    <h4>（9）为合法的新闻报道所必需的；</h4>
    <h4>
        （10）学术研究机构基于公共利益开展统计或学术研究所必要，且对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的；</h4>
    <h4>（11）法律法规规定的其他情形。</h4>
    <h3>6、在以下情形中，巨梦科技向第三方提供用户的个人信息无需事先征得用户的授权同意：</h3>
    <h4>（1）与国家安全、国防安全有关的；</h4>
    <h4>（2）与公共安全、公共卫生、重大公共利益有关的；</h4>
    <h4>（3）与犯罪侦查、起诉、审判和判决执行等有关的；</h4>
    <h4>（4）出于维护用户或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</h4>
    <h4>（5）用户自行向社会公众公开的个人信息；</h4>
    <h4>（6）从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道。</h4>
    <h3>
        根据法律规定，向第三方提供经去标识化处理的个人信息，且确保数据接收方无法复原并重新识别个人信息主体的，不属于个人信息的对外共享、转让及公开披露行为，对此类数据的保存及处理将无需另行向用户通知并征得用户的同意。</h3>
    <h3>本协议中涉及巨梦科技对于用户提供的个人信息的使用，如与《隐私政策》不符的，以《隐私政策》为准。</h3>
    <br>
    <h2>三、用户使用规则</h2>
    <h3>1、用户授权微信登录成功后，用户有权使用巨梦科技软件功能，包括参与活动、终端管理、经销商业务管理等。</h3>
    <h3>2、用户有权使用巨梦科技提供的功能进行照片上传、分享个人信息。</h3>
    <h3>3、用户在使用巨梦科技时须遵守国家相关法律法规，内容不得包含有下列内容之一的信息：</h3>
    <h4>a) 反对宪法所确定的基本原则的；</h4>
    <h4>b) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</h4>
    <h4>c) 损害国家荣誉和利益的；</h4>
    <h4>d) 煽动民族仇恨、民族歧视、破坏民族团结的；</h4>
    <h4>e) 破坏国家宗教政策，宣扬邪教和封建迷信的；</h4>
    <h4>f) 散布谣言，扰乱社会秩序，破坏社会稳定的；</h4>
    <h4>g) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</h4>
    <h4>h) 侮辱或者诽谤他人，侵害他人合法权利的；</h4>
    <h4>i) 含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；</h4>
    <h4>j) 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；</h4>
    <h4>k) 含有巨梦科技认为不利于巨梦科技运营的内容。</h4>
    <h3>
        4、用户保证在使用巨梦科技时发布、传播的信息的真实性、准确性，保证不得发布谣言或其他与事实不符引起他人不适的言论、信息。</h3>
    <h3>
        5、用户保证在使用巨梦科技不得发布、传播侵犯知识产权或其他合法权益的信息。用户传播内容中涉及第三方拥有知识产权内容的相关授权或其他内容的合法性由用户自行负责，巨梦科技对相关内容的知识产权权属或是否侵犯他人民事权益等情况不进行审查或监督，但将按相关法规对涉嫌侵权的内容履行删除或断开链接等职责。</h3>
    <h3>
        6、若用户发生前述3-6的行为时，由用户承担所有的违法、侵权责任，若因此给巨梦科技造成任何损失巨梦科技有权向责任用户主张相关责任。同时，巨梦科技有权对违法、侵权、违规的用户终止提供服务。如果政府或者司法机关要求巨梦科技告知进行侵权行为用户的具体信息的，巨梦科技有权根据现行法规向其告知用户信息。</h3>
    <h3>
        7、用户同意巨梦科技有权在提供服务过程中以各种方式投放各种商业性广告或其他任何类型的商业信息，并且，用户同意接受巨梦科技通过电子邮件或其他方式向用户发送商品促销或其他相关商业信息。</h3>
    <h3>
        8、用户承诺提供的注册信息的真实性、合法性、有效性承担全部责任，用户不得冒充他人；不得利用他人的名义发布任何信息或享受巨梦科技供的任何服务；不得恶意使用注册帐号导致其他用户误认；否则巨梦科技有权立即停止提供服务，收回其帐号并由用户独自承担由此而产生的一切法律责任。</h3>
    <br>
    <h2>四、服务变更、中断或终止</h2>
    <h3>
        1、鉴于服务的特殊性，用户同意巨梦科技有权随时变更、中断或终止部分或全部的服务。如变更、中断或终止的服务属于免费服务，巨梦科技无需通知用户，也无需对任何用户或任何第三方承担任何责任。</h3>
    <br>
    <h2>五、巨梦科技企业客户服务说明</h2>
    <h3>
        1、巨梦科技平台提供给多家企业客户使用，企业客户通过巨梦科技平台进行发布用户活动等。如果功夫企火星企业用户违反了隐私政策或发生其它侵犯用户权益的行为，用户可要求巨梦科技提供必要的配合与巨梦科技企业用户进行沟通和维权，维权过程中产生的费用由用户自行承担。</h3>
    <br>
    <h2>六、其他事宜</h2>
    <h3>
        1、巨梦科技有权根据法律法规的变化、网站以及相应的巨梦科技运营的需要不时地对本协议及本站的内容进行修改,并在网站以及巨梦科技醒目位置张贴。修改后的协议一旦被张贴在本站上即生效,并代替原来的协议,用户可随时登录查阅最新协议。用户有义务及时关注并阅读最新版的协议及网站公告。如用户不同意更新后的协议，可以立即向巨梦科技进行反馈且应立即停止接受巨梦科技依据本协议提供的服务；如用户继续使用本站提供的服务的,即视为同意更新后的协议。</h3>
    <h3>2、本协议自用户点击“同意”、“接受”后生效。</h3>
    <h3>3、本协议所有条款的标题仅为方便而设,不具法律或契约效果。</h3>
    <h3>4、在法律允许范围内， 本协议的解释权归巨梦科技所有。</h3>
</div>

</body>
</html>
